

@{
    ViewData["Title"] = "CollectionIncomplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Collection Incomplete</h1>

<div>
    <h4>This trash collection could not be completed:</h4>
    <h6>The custome's account is either in suspension, the pick up is not scheduled for today, or the pick up has already been completed.</h6>
    <h6>Please review the customer's information</h6>
    <hr />
    <div>
        <a asp-action="Filter">Back to List</a>
    </div>
</div>

