@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TrashCollector</h1>
    <p>This application allows users to set up personal garbage pick up days.</p>
    <p>Gone are the days of public waste management!</p>
</div>
